body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.title {
    margin-top: 30px;
    text-align: center;
    letter-spacing: 2.2px;
    font-size: 25px;
    font-family: 'DM Sans', sans-serif;
    opacity: 80%;
}




.phone{
    width: 300px;
    height: 600px;
    position: relative;
    border: 8px solid black;
    border-radius: 40px;
    background: #CCEFFF;
    overflow: hidden;
    box-shadow: 0px 19px 38px rgba(0, 0, 0, 0.3), 0px 15px 12px rgba(0, 0, 0, 0.22);
}



input[type=checkbox]{
    appearance: none;
    cursor: pointer;
    height: 50px;
    margin: 0;
    position: relative;
    top: 0;
    width: 80px;
    z-index: 2;
}

input[type=checkbox] :focus {
    appearance: none;
    outline: none;
}
body {
    counter-reset: game;
}
input:checked{
    counter-increment: game;
}
.score::after{
    content: counter(game);
}






.layer{
    position: absolute;
}
.wall{
    border: 1px solid black;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: #bb6d50;
    overflow: hidden;
}
.zig-zag{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: 25px;
    background: linear-gradient(135deg, #66a167 25%, transparent 25%) -17px 0,
    linear-gradient(-135deg, #66a167 25%, transparent 25%) -17px 0,
    linear-gradient(45deg, #66a16700 25%, #a1553c 25%),
    linear-gradient(-45deg, #66a16700 25%, #a1553c 25%);
    background-size: 35px 35px;
}
.rabbit{
    /* background: peachpuff; */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.left-ear--outer{
    background: white;
    border-radius: 90%;
    width: 20px;
    height: 50px;
    position: absolute;
    left: 10px;
}
.left-ear--inner{
    background: pink;
    border-radius: 90%;
    width: 10px;
    height: 50px;
    position: absolute;
    left: 15px;
    top: 8px;
}
.right-ear--outer{
    background: white;
    border-radius: 90%;
    width: 20px;
    height: 50px;
    position: absolute;
    right: 10px;
}
.right-ear--inner{
    background: pink;
    border-radius: 90%;
    width: 10px;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 8px;
}
.head{
    width: 100%;
    height: 80px;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.head__eye{
    background: gray;
    width: 4px;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    top: 12px;

    animation-name: blink;
    animation-duration: 2s;
    animation-iteration-count: infinite  ;
}

@keyframes blink {
    0% {
        height: 4px;
    }
    5%{
        transform: translate( 0px, 2px);
        height: 1px;
    }
    10%{
        transform: translate(0px, 0px);
    height: 4px;         
    }
}
.head__eye--left{
    left: 30px;
}
.head__eye--right{
    right: 30px;
}
.layer-1{
    z-index: 1;
    height: 450px;
    width: 80px;
    bottom: 0;
    right: 60px;

    animation-name: layer;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes layer {
    0%{
        bottom: 0;
    }
    25%{
        bottom: -80px;
    }
    100%{

    }
}

.layer-1 input[type=checkbox]{

}
.layer-2{
    z-index: 2;
    height: 450px;
    width: 80px;;
    bottom: 0;
    left: 60px;

    animation-name: layer;
    animation-duration: 1.1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}



@keyframes layer {
    0%{
        bottom: 0;
    }
    25%{
        bottom: -80px;
    }
    100%{

    }
}


.layer-3{
    z-index: 3;
    width: 200px;
    height: 400px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.layer-4{
    z-index: 4;
    height: 330px;
    width: 80px;
    bottom: 0;
    left: 40px;


    animation-name: layer;
    animation-duration: 1.9s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes layer {
    0%{
        bottom: 0;
    }
    25%{
        bottom: -80px;
    }
    100%{

    }
}
.layer-5{
    z-index: 5;
    width: 180px;
    height: 280px;
    bottom: 0;
}
.layer-6{
    z-index: 6;
    height: 230px;
    width: 80px;
    bottom: 0;
    right: 40px;


    animation-name: layer;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
@keyframes layer {
    0%{
        bottom: 0;
    }
    25%{
        bottom: -80px;
    }
    100%{

    }
}

.layer-7{
    z-index: 7;
    width: 180px;
    height: 180px;
    bottom: 0;
    right: 0;
}
.layer-8{
    z-index: 8;
    width: 180px;
    height: 120px;
    /* background: whitesmoke; */
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    overflow: hidden;
}
.layer-9{
    z-index: 9;
    width: 100px;
    height: 100px;
    /* background: palevioletred; */
    bottom: 0;
    left: 0;
    overflow: hidden;
}
.layer-10{
    z-index: 10;
    width: 100px;
    height: 100px;
    /* background: palevioletred; */
    bottom: 0;
    right: 0;
    overflow: hidden;
}
.tree{
    height: 100%;
    width: 75px;
    background: #66a167;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.tree1{
    height: 100%;
}
.tree2{
    height: 70%;
    transform-origin: bottom;
    transform: rotate(-45deg);
    bottom: 10px;
}
.tree3{
    height: 70%;
    transform-origin: bottom;
    transform: rotate(45deg);
    bottom: 10px;
}
.tree4{
    height: 70%;
    transform-origin: bottom;
    transform: rotate(-90deg);
    bottom: 0px;
}
.tree5{
    height: 70%;
    transform-origin: bottom;
    transform: rotate(90deg);
    bottom: 0px;
}
.nube{
    background-color: white;
    position: absolute;
    border-top-left-radius: 64px;
    border-top-right-radius: 64px;
}
.nube1{
    height: 100%;
    width: 75px;
}
.nube2{
    height: 64px;
    width: 64px;
    transform: rotate(45deg);
    left: 35px;
    bottom: 0;
}
.nube3{
    height: 100%;
    width: 75px;
    right: 0;
}
.nube4{
    height: 64px;
    width: 64px;
    transform: rotate(-45deg);
    left: 0px;
    bottom: 0;
}